<div id="study-container">
                <h1>
                    UMA NOVA MANEIRA DE ESTUDAR ONLINE !
                </h1>
                <p>
                    Aqui no Teach, você encontra professores que
                    vão te ajudar na sua rotina de estudo !
                </p>
                <a href="#who-we-are" id="button-page" onclick="selectedIndex(event)">
                    Quem Somos
                </a>
            </div>
            <div id="image-container">
                <img src="/images/home.svg" alt="">
</div>