<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Teach</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/styles/page-landing.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/search.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <link rel="stylesheet" href="/styles/give-classes.css">
    <link rel="stylesheet" href="/styles/login.css">
    <script src="/scripts/script.js" type="text/javascript"></script>
</head>

<body>
    <header id="nav-container2">
        <div id="menu-aside">
            <span onclick="openNav()">&#9776; </span>
        </div>
        <div id="logo-container">
            <!--<a href="#landing-page" id="logo" onclick="ajaxText(event)">  -->
            <a href="/" id="logo" onclick="ajaxText(event)">
                <img src="/images/logo.svg" alt="">
            </a>
            <p> <a href="/" id="text" onclick="ajaxText(event)">TEACH</a> </p>
            <!--<p> <a href="#landing-page" id="text" onclick="ajaxText(event)">TEACH</a> </p> -->
        </div>
        <nav id="navegation">
            <ul>
                <li>
                   <!-- <a href="#who-we-are" id="whoweare">Quem Somos</a>--> 
                    <a href="/who-we-are" id="whoweare">Quem Somos</a>
                </li>
                <li>
                    
                    <!-- <a href="#search-page">Procurar Matéria</a>--> 
                    <a href="/search-page">Procurar Matéria</a>
                </li>
                <li>
                    <!-- <a href="#work-for-us">Trabalhe Conosco</a>--> 
                    
                    <a href="/work-for-us">Trabalhe Conosco</a>
                </li>
            </ul>
        </nav>

        <div id="mySidenav" class="sidenav">
            <ul>
                <li>
                    <a href="/who-we-are">Quem Somos</a>

                </li>
                <li>
                    <a href="/search-page">Procurar Matéria</a>
                    
                </li>
                <li>
                    
                    <a href="/work-for-us">Trabalhe Conosco</a>
                </li>
                
            </ul>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          </div>
        <div id="login-image">
            <a href="#" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">
                <img src="/images/login.svg" alt="">
            </a>
        </div>
    </header>

    
    <main id="container2">
        {%for proffy in proffys %}
        <div class="profile-container">
            <div class="profile-header">
                <div>
                    <div class="profile-info">
                        <a href="" id="logo-picture">
                            <img src="{{proffy.avatar}}" alt="foto">
                        </a>
                        <div>
                            <a href="#profile-page" class="profile-name" onclick="ajaxProfile(event)">
                                <strong>{{proffy.name}}</strong>
                            </a>
                            <label for="subject">{{proffy.subject}}</label>
                        </div>
                    </div>
                </div>
                <div class="profile-button">
                    <a href="/update-page?" class="update-button" id="editar" onclick="Update(event)" style="display: none;">Editar Perfil</a>
                    <a href="/delete-page?" class="delete-button" id="deletar" onclick="Delete(event)" style="display: none;">Deletar Perfil</a>
                </div>
            </div>
            
           

            <div class="profile-option">
                <p><a href="#" onclick="profileBio()">Sobre</a></p>
                <p><a href="#" onclick="profileContact()">Contato</a></p>
            </div>
            <div class="bio-container">
                <div class="biography">
                    <h2>
                        {{proffy.subject}}
                    </h2>
                    <p>
                        {{proffy.bio}}
                    </p>
                </div>
                <div class="class-cost">
                    <h2>
                        Custo da Aula
                    </h2>
                    <div>
                        <p>
                            Preço/hora
                        </p>
                        <strong>
                            R$ {{proffy.cost}}
                        </strong>
                    </div>
                </div>
                <div class="profile-time">
                      
                    <h2>Dias das semanas/Horários</h2>
                    <p>{{weekdays[filters.weekday]}} das horas 08h as 20h</p>
                    
                </div>
            </div>
            <div class="contact-container" style="display: none;">
                <div class="profile-phone">
                    <h2>
                        Telefone
                    </h2>
                    <p>
                        (61) {{proffy.whatsapp}}
                    </p>
                </div>
                <div class="profile-email">
                    <h2>Email</h2>
                    <p>{{proffy.email}}</p>
                </div>
            </div>
        </div>
        {%endfor%}
    </main>

    <div id="id01" class="modal" style="display: none;">
  
        <form class="modal-content animate" id="form" action="/test?" method="post">
          <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img src="/images/login.svg" alt="Avatar" class="avatar">
          </div>
      
          <div class="container">
            <label for="uname"><b>Email</b></label>
            <input type="text" placeholder="Email" name="login" class="input-container" required>
      
            <label for="psw"><b>Senha</b></label>
            <input type="password" placeholder="Senha" name="password" class="input-container" required>
              
            <button type="submit" class = "login-button" onclick="Profile(event)"> Entrar</button>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Lembrar
            </label>
          </div>
      
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancelar</button>
            <span class="psw">Esqueceu <a href="#"> a senha?</a></span>
          </div>
        </form>
      </div>
</body>

<script>

function Profile(event){
        
        var params ="/profile-page2?" + window.location.search.substring(1);
        console.log(params)
        const form = document.getElementById('form').action= params
        console.log(form)
        //const url = text.attributes[0].value = params
        
        
}

function Update(event){
        
        
        var params ="/update-page?" + window.location.search.substring(1);
        console.log(params)
        const text = document.querySelector('.update-button')
        const url = text.attributes[0].value = params
        console.log(url)
        
}
function Delete(event){
        var params ="/delete-page?" + window.location.search.substring(1);
        console.log(params)
        const text = document.querySelector('.delete-button')
        const url = text.attributes[0].value = params
        console.log(url)
        
}

var cu = window.location.search.substring(1);
    console.log(cu)

</script>

</html>



        

